@keyframes fadeInZoomOut {
    from {
        opacity   : 0;
        transform : scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform : scale3d(1, 1, 1);
    }
}

.fadeInZoomOut {
    animation-name : fadeInZoomOut;
}
